---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import { SITE } from "@/config";
import { Image } from "astro:assets";
import bearsImage from "@/assets/images/bears-beats-battlestar-galactica.png";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main
    id="main-content"
    class="mx-auto flex max-w-app flex-1 items-center justify-center"
  >
    <div class="mb-14 flex flex-col items-center justify-center">
      <Image
        src={bearsImage}
        alt="Bears. Beats. Battlestar Galactica"
        class="mb-2 rounded-lg"
      />
      <p class="mb-4 w-full text-right text-xs text-gray-500 italic">
        Image credit: ChatGPT 5.1 AI Slop
      </p>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p class="mt-4 text-2xl sm:text-3xl">Page Not Found</p>
      <LinkButton
        href="/"
        class="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </LinkButton>
      or
      <LinkButton
        href="https://youtu.be/WaaANll8h18?si=TTXqAT-60D94w7a-"
        class="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Watch this Jim vs Dwight on YouTube
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>
